:root {
  box-sizing: border-box;
}

.footer {
  padding: 1rem;
  background-color: #333;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  
}